$black: #333;
$font-stack: Avenir, Helvetica, Arial, sans-serif;

$purple: #3e2c72;
$border-color: #e4e4e4;
$white: #FFF;

%show-one-at-time {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

%show-two-at-time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f0f1f7;
    color: $black;
  }
  
  #app {
    font-family: $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  h3 {
    margin: 40px 0 0;
  }
  
  a {
    color: $purple;
    text-decoration-line: none;
    font-weight: 500;
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .item-info {
    background: $white;
    padding: 10px;
    transition: transform .2s;
  
    &:hover {
      box-shadow: 5px 5px #78788d5c;
      transform: scale(1.01);
      transition: transform .2s;
    }
  }
  
  .card {
    display: grid;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    overflow: hidden;
  }
  
  img {
    height: 215px;
  }
  
  div.product-image {
    margin: 0 auto;
    overflow: hidden;
  }
  
  .priceCart {
    display: grid;
    grid-template-columns: 1fr auto;
  }
  
  .add-cart, .shop-cart > button {
    padding: 10px;
    border: 0;
    border-radius: 80%;
    font-size: 20px;
    cursor: pointer;
    border: 3px solid #d5d5cc;
  }
  
  .header, .products-header {
    @extend %show-two-at-time;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  
  .header {
    padding: 18px;
    border-bottom: 5px solid $border-color;
  }
  
  .shop-cart {
    justify-self: end;
  }
  
  .sort-products {
    justify-self: end;
  
    > select {
      border: 0;
      font-size: 18px;
      background: $white;
      width: 100%;
    }
  }
  
  .hide-right {
    display: none;
  }
  
  .show-right {
    display: block;
    border-left: 5px solid $border-color;
    padding: 0 5px;
  }
  
  .hide-right-mobile {
    display: none;
  }
  
  .show-right-mobile {
    display: none;
    border-left: 5px solid $border-color;
    padding: 0 5px;
  }
  
  .right {
    @extend %show-two-at-time;
  }
  
  .noright {
    display: block;
    grid-template-columns: none;
  }
  
  table {
    width: 100%;
    border: 1px solid #bfbaba8f;
    border-collapse: collapse;
    background: $white;
  }
  
  th, td {
    border: 1px solid #bfbaba8f;
    border-collapse: collapse;
    background: $white;
    padding: 15px;
    text-align: left;
  }
  
  img {
    transition: transform .2s;
  
    &:hover {
      transform: scale(1.5);
      transition: transform .2s;
    }
  }
  
  .content {
    margin: 60px;
  }
  
  footer {
    text-align: center;
    background: $purple;
    padding: 10px;
    color: $white;
    font-size: 30px;
    font-weight: 500;
  }
  
  .mobile-responsive-cart {
    display: none;
  }
  
  .products-header {
    margin-bottom: 10px;
  }
  
  .show-right-img {
    height: 85px;
  }
  
  @media (max-width: 600px) {
    .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }
  
    .right {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
  
    .noright {
      display: block;
      grid-template-columns: none;
    }
  
    .show-right {
      display: none;
      padding: 0 5px;
    }
  
    .show-right-mobile {
      display: block;
      padding: 0 5px;
      border-left: none;
      background: #f1f1f1;
      border-bottom: 5px solid $border-color;
    }
  
    img {
      height: 85px;
    }
  }
  
  @media (max-width: 400px) {
    .products, .right {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 10px;
    }
  
    .noright {
      display: block;
      grid-template-columns: none;
    }
  
    .show-right {
      display: none;
      padding: 0 5px;
    }
  
    .show-right-mobile {
      display: block;
      padding: 0 5px;
      border-left: none;
      background: #f1f1f1;
      border-bottom: 5px solid $border-color;
    }
  
    .products-header {
      margin-bottom: 10px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  
    .content {
      margin: 5px;
    }
  }