h3 {
  margin: 40px 0 0;
}

a {
  color: #3e2c72;
  text-decoration-line: none;
  font-weight: 500;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.item-info {
  background: #FFF;
  padding: 10px;
  transition: transform .2s;
}
.item-info:hover {
  box-shadow: 5px 5px #78788d5c;
  transform: scale(1.01);
  transition: transform .2s;
}
.card {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  overflow: hidden;
}
img {
  height: 215px;
}
div.product-image {
  margin: 0 auto;
  overflow: hidden;
}

.priceCart {
  display: grid;
  grid-template-columns: 1fr auto;
}

.add-cart,
.shop-cart > button {
  padding: 10px;
  border: 0;
  border-radius: 80%;
  font-size: 20px;
  cursor: pointer;
  border: 3px solid #d5d5cc;
}

.header,
.products-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
}
.header {
  padding: 18px;
  border-bottom: 5px solid #e4e4e4;
}
.shop-cart,
.sort-products {
  justify-self: end;
}
.sort-products > select {
  border: 0;
  font-size: 18px;
  background: #FFF;
  width: 100%;
}
.hide-right {
  display: none;
}
.show-right {
  display: block;
  border-left: 5px solid #e4e4e4;
  padding: 0 5px;
}
.hide-right-mobile {
  display: none;
}
.show-right-mobile {
  display: none;
  border-left: 5px solid #e4e4e4;
  padding: 0 5px;
}
.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.noright {
  display: block;
  grid-template-columns: none;
}
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid #bfbaba8f;
  border-collapse: collapse;
  background: #FFF;
}
th,
td {
  padding: 15px;
  text-align: left;
}

img {
  transition: transform .2s;
}

img:hover {
  transform: scale(1.5);
  transition: transform .2s;
}

.content {
  margin: 60px;
}

footer {
  text-align: center;
  background: #3e2c72;
  padding: 10px;
  color: #FFF;
  font-size: 30px;
  font-weight: 500;
}

.mobile-responsive-cart {
  display: none;
}

.products-header {
  margin-bottom: 10px;
}
.show-right-img {
  height: 85px;
}

@media (max-width: 600px) {
  body {
    background-color: teal;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  .right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .noright {
    display: block;
    grid-template-columns: none;
  }
  .show-right {
    display: none;
    padding: 0 5px;
  }
  .show-right-mobile {
    display: block;
    padding: 0 5px;
    border-left: none;
    background: #f1f1f1;
    border-bottom: 5px solid #e4e4e4;
  }
  img {
    height: 85px;
  }
}

@media (max-width: 400px) {
  body {
    background-color: teal;
  }
  .products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
  .noright {
    display: block;
    grid-template-columns: none;
  }
  .show-right {
    display: none;
    padding: 0 5px;
  }
  .show-right-mobile {
    display: block;
    padding: 0 5px;
    border-left: none;
    background: #f1f1f1;
    border-bottom: 5px solid #e4e4e4;
  }

  .products-header {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .content {
    margin: 5px;
  }
}